<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="/web/v1/signUp" method="post">
    <label for="email">Email</label>:
    <input type="text" id="email" name="email" autofocus="autofocus"/> <br/>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"/> <br/>
    <label for="firstName">Firs tName</label>:
    <input type="text" id="firstName" name="firstName"/> <br/>
    <label for="lastName">Last Name</label>:
    <input type="text" id="lastName" name="lastName"/> <br/>
    <input type="submit" value="Sign Up"/>
</form>

</body>
</html>